### Build Output ###
**/target/
**/build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### macOS ###
.DS_Store
# Keycloak client secrets and access tokens
keycloak/secrets.txt
keycloak/*.token
/local-dir/

# Ignore generated payment config scripts and configmaps
infra/k8s/payment/configmap/payment-service-configmap.yaml
/infra/k8s/overlays/gke/secrets/
/infra/k8s/overlays/local/dex-auth/secrets/
/mygcp-appendonly-command/
/infra/scripts/docker-build/secrets/
/infra/k8s/overlays/local/payment-service/secrets/
/infra/k8s/overlays/local/payment-db/secrets/
/infra/k8s/overlays/local/payment-consumers/secrets/
/infra/k8s/overlays/local/observability/secrets/
/infra/k8s/overlays/local/monitoring/secrets/
/infra/k8s/overlays/local/messaging/secrets/
/infra/k8s/overlays/local/keycloak/secrets/
