<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="/Users/dogancaglar/ecommerce-platform-logs/payment-service"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%X{eventId}] [%X{aggregateId}] [%X{parentEventId}] %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- Console logging -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/payment-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/payment-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <mdc>
                    <includeMdcKey>traceId</includeMdcKey>
                    <includeMdcKey>eventId</includeMdcKey>
                    <includeMdcKey>aggregateId</includeMdcKey>
                    <includeMdcKey>eventType</includeMdcKey>
                    <includeMdcKey>parentEventId</includeMdcKey>
                </mdc>

                <context/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

</configuration>