<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogancaglar.paymentservice.adapter.outbound.persistence.mybatis.PaymentMapper">
    <resultMap id="PaymentResultMap"
               type="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        <id property="paymentId" column="payment_id"/>
        <result property="paymentIntentId" column="payment_intent_id"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="orderId" column="order_id"/>
        <result property="totalAmountValue" column="total_amount_value"/>
        <result property="currency" column="currency"/>
        <result property="capturedAmountValue" column="captured_amount_value"/>
        <result property="refundedAmountValue" column="refunded_amount_value"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"
                typeHandler="com.dogancaglar.paymentservice.adapter.outbound.persistence.mybatis.typehandler.InstantTypeHandler"/>
        <result property="updatedAt" column="updated_at"
                typeHandler="com.dogancaglar.paymentservice.adapter.outbound.persistence.mybatis.typehandler.InstantTypeHandler"/>
        <result property="paymentLinesJson" column="payment_lines" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMaxPaymentId" resultType="long">
        SELECT COALESCE(MAX(payment_id), 0) FROM payments
    </select>


    <insert id="insert"
            parameterType="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity"
            >
        INSERT INTO payments (
        payment_id,
        payment_intent_id,
        buyer_id,
        order_id,
        total_amount_value,
        captured_amount_value,
        refunded_amount_value,
        currency,
        status,
        payment_lines,
        created_at,
        updated_at
        ) VALUES (
        #{paymentId},
        #{paymentIntentId},
        #{buyerId},
        #{orderId},
        #{totalAmountValue},
        #{capturedAmountValue},
        #{refundedAmountValue},
        #{currency},
        #{status},
        CAST(#{paymentLinesJson} AS jsonb),
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <select id="findById" resultMap="PaymentResultMap">
        SELECT payment_id,
               payment_intent_id,
               buyer_id,
               order_id,
               total_amount_value,
               currency,
               captured_amount_value,
               refunded_amount_value,
               status,
                created_at,
               updated_at,
               payment_lines::text as payment_lines
        FROM payments
        WHERE payment_id = #{id}
    </select>

    <delete id="deleteAll">
        DELETE FROM payments
    </delete>

    <update id="update"
            parameterType="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        UPDATE payments SET
        payment_intent_id = #{paymentIntentId},
        order_id = #{orderId},
        buyer_id = #{buyerId},
        total_amount_value = #{totalAmountValue},
        captured_amount_value = #{capturedAmountValue},
        refunded_amount_value = #{refundedAmountValue},
        currency = #{currency},
        status = #{status},
        payment_lines = CAST(#{paymentLinesJson} AS jsonb),
        created_at = #{createdAt},
        updated_at = #{updatedAt}
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deleteById">
        DELETE FROM payments WHERE payment_id = #{id}
    </delete>
</mapper>
