<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogancaglar.paymentservice.adapter.outbound.persistence.mybatis.PaymentMapper">
    <resultMap id="PaymentResultMap"
               type="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        <id property="paymentId" column="payment_id"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="orderId" column="order_id"/>
        <result property="totalAmountValue" column="total_amount_value"/>
        <result property="capturedAmountValue" column="captured_amount_value"/>
        <result property="currency" column="currency"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getMaxPaymentId" resultType="long">
        SELECT MAX(payment_id) FROM payments
    </select>

    <insert id="insertIgnore"
            parameterType="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        INSERT INTO payments (
        payment_id,
        buyer_id,
        order_id,
        total_amount_value,
        captured_amount_value,
        currency,
        status,
        idempotency_key,
        created_at,
        updated_at
        ) VALUES (
        #{paymentId},
        #{buyerId},
        #{orderId},
        #{totalAmountValue},
        #{capturedAmountValue},
        #{currency},
        #{status},
        #{idempotencyKey},
        #{createdAt},
        #{updatedAt}
        )
        ON CONFLICT (idempotency_key) DO NOTHING;
    </insert>

    <select id="findByIdempotencyKey" parameterType="string"
            resultType="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        SELECT * FROM payments WHERE idempotency_key = #{idempotencyKey}
    </select>

    <select id="findById" resultMap="PaymentResultMap">
        SELECT payment_id,
               buyer_id,
               order_id,
               total_amount_value,
               captured_amount_value,
               currency,
               status,
               created_at,
               updated_at
        FROM payments
        WHERE payment_id = #{id}
    </select>

    <delete id="deleteAll">
        DELETE FROM payments
    </delete>

    <update id="update"
            parameterType="com.dogancaglar.paymentservice.adapter.outbound.persistence.entity.PaymentEntity">
        UPDATE payments SET
        order_id = #{orderId},
        buyer_id = #{buyerId},
        total_amount_value = #{totalAmountValue},
        captured_amount_value = #{capturedAmountValue},
        currency = #{currency},
        status = #{status},
        created_at = #{createdAt},
        updated_at = #{updatedAt}
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deleteById">
        DELETE FROM payments WHERE payment_id = #{id}
    </delete>
</mapper>
