<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogancaglar.paymentservice.adapter.persistence.repository.PaymentMapper">
    <resultMap id="PaymentResultMap" type="com.dogancaglar.paymentservice.adapter.persistence.entity.PaymentEntity">
        <id property="paymentId" column="payment_id"/>
        <result property="publicPaymentId" column="public_payment_id"/>
        <result property="orderId" column="order_id"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="amountValue" column="amount_value"/>
        <result property="amountCurrency" column="amount_currency"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="retryCount" column="retry_count"/>
        <result property="retryReason" column="retry_reason"/>
        <result property="lastErrorMessage" column="last_error_message"/>
    </resultMap>

    <select id="getMaxPaymentId" resultType="long">
        SELECT MAX(payment_id) FROM payments
    </select>

    <insert id="insert" parameterType="com.dogancaglar.paymentservice.adapter.persistence.entity.PaymentEntity">
        INSERT INTO payments (
        payment_id, public_payment_id, order_id, buyer_id, amount_value, amount_currency, status, created_at,
        updated_at, retry_count, retry_reason, last_error_message
        ) VALUES (
        #{paymentId}, #{publicPaymentId}, #{orderId}, #{buyerId}, #{amountValue}, #{amountCurrency},
        #{status}, #{createdAt}, #{updatedAt}, #{retryCount}, #{retryReason}, #{lastErrorMessage}
        )
    </insert>

    <select id="findById" resultMap="PaymentResultMap">
        SELECT * FROM payments WHERE payment_id = #{id}
    </select>

    <update id="update" parameterType="com.dogancaglar.paymentservice.adapter.persistence.entity.PaymentEntity">
        UPDATE payments SET
        public_payment_id = #{publicPaymentId},
        order_id = #{orderId},
        buyer_id = #{buyerId},
        amount_value = #{amountValue},
        amount_currency = #{amountCurrency},
        status = #{status},
        created_at = #{createdAt},
        updated_at = #{updatedAt},
        retry_count = #{retryCount},
        retry_reason = #{retryReason},
        last_error_message = #{lastErrorMessage}
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deleteById">
        DELETE FROM payments WHERE payment_id = #{id}
    </delete>
</mapper>
