<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogancaglar.paymentservice.infra.adapter.outbound.persistence.mapper.EdgeWatermarkMapper">

    <insert id="upsert" parameterType="com.dogancaglar.paymentservice.infra.adapter.outbound.persistence.entity.EdgeWatermarkEntity">
        INSERT INTO edge_watermarks (edge_node_id, forwarded_up_to)
        VALUES (#{edgeNodeId}, #{forwardedUpTo})
        ON CONFLICT (edge_node_id) DO UPDATE
        SET forwarded_up_to = EXCLUDED.forwarded_up_to
    </insert>

    <select id="computeTSafe" resultType="java.time.Instant">
        SELECT MIN(forwarded_up_to) FROM edge_watermarks
    </select>

    <delete id="deleteWatermark">
        DELETE FROM edge_watermarks
        WHERE edge_node_id = #{edgeNodeId}
    </delete>

</mapper>
